#inbox {
  width: 100%;
  display: flex;
  padding: 0.4em;
  height: 100vh;
}

.dm-container {
  background-color: #1c1c1c;
  width: 28%;
  border: 1px solid gray;

}

.inbox-input {
  width: 90%;
  margin: 0.8em auto;
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  background-color: #333333;
}

.inbox-icon {
  width: 10%;
  font-size: 1rem;
  color: rgb(190, 190, 190);
  text-align: center;
}

.inbox-input input {
  width: 100%;
  background-color: #333333;
  padding: 1.3em;
  border-radius: 8px;
  outline: none;
  color: white;
  border: none;
}

.inbox-input:hover {
  border: 1px solid #00BFFF;
}

.inbox-input input::placeholder {
  color: rgb(168, 167, 167);
  opacity: 1;
}

.dm-area {
  background-color: #1c1c1c;
  width: 75%;
 
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: column;
}

.area-header {
  border-bottom: 1px solid gray;
  padding: 1.3em;
}

.inbox-upload-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1em;
  gap: 0.5em;
}

.inbox-upload-icon {
  font-size: 1.5rem;
  flex: 0 0 2.5em;
  text-align: center;
  color: white;
}

.inbox-upload-input {
  padding: 1em;
  width: 83%;
  color: black;
  outline: none;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.inbox-upload-input:focus {
  border: 2px solid #00BFFF;
}

.inbox-button {
  flex: 0 0 50px;
  /* Button stays small and circular */
  height: 50px;
  border: none;
  background-color: #00BFFF;
  color: white;
  border-radius: 50%;

  cursor: pointer;
}

.pvt-dm {
  display: flex;
  flex-direction: column;
  flex: 1;
}